/*
*** SET UP
*/

@import 'partials/_variables.scss';
@import 'partials/_fonts.scss';
@import 'partials/_mixins.scss';
@import 'partials/_home.scss';
@import 'partials/_begin.scss';
@import 'partials/_dilemma.scss';
@import 'partials/_footer.scss';
@import 'partials/_story.scss';
@import 'partials/_player.scss';

/*
*** GENERAL
*/

body {
	margin: 0;
	font-family: $font-body;
	color: $color-dark;
	background-color: $color-dark;
}

.clear{
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-title;
}

.container-btn-next {
	cursor: pointer;
	position: absolute;
		top: 50px;
		right: 50px;

	.btn-next {
		background: $color-light;
		color: $color-dark;
		padding: 10px 30px;
		border-radius: 10px;
	}
}

/*
*** MEDIAS QUERIES
*/

@import 'partials/_medias-queries.scss';
