</div>
</div>
<footer>
	<div class="left-section">
		<a href="">Mentions légales</a>
		<div class="line-separator"></div>
		<a href="">Crédits</a>
	</div>
	<div class="right-section">
		<a href=""><span><svg id="mute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M277.55 0h-48l-144 160h-48c-17.673 0-32.376 14.326-32.376 32v128c0 17.672 14.703 32 32.375 32h48l144 160h48c8.835 0 15.624-7.164 15.624-16V16c0-8.836-6.79-16-15.625-16zM382.456 187.906c-11.11-13.727-31.297-15.89-44.96-4.844-13.75 11.047-15.942 31.234-4.88 45 11.77 14.625 11.77 41.25-.008 55.883-11.055 13.758-8.863 33.945 4.883 44.992 5.665 4.555 12.782 7.063 20.044 7.063 9.762 0 18.86-4.352 24.953-11.938 30.695-38.164 30.695-97.96-.03-136.156z"/><path d="M459.936 138.578c-6.426-6.664-15.07-10.414-24.34-10.578-9.477.14-18.035 3.297-24.684 9.727-13.738 13.266-14.133 35.25-.867 49.023 36.88 38.18 36.88 100.313-.016 138.508-13.25 13.758-12.856 35.742.858 48.984 6.484 6.297 15.043 9.758 24.098 9.758 9.352 0 18.44-3.852 24.95-10.578 62.52-64.75 62.52-170.102 0-234.844z"/></g></svg></span>Sourdine</a>
		<div class="line-separator"></div>
		<a onclick="FullScreenIn()"><span><svg id="expand" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 533.333 533.333"><path d="M533.333 0v216.667L450 133.333l-100 100-50-50 100-100L316.667 0h216.666zm-300 350l-100 100 83.333 83.333H0V316.667L83.333 400l100-100 50 50z"/></svg></span>Plein écran</a>
	</div>
	<div class="clear"></div>
</footer>
<script src="{{app.request.basepath}}/src/js/libs/screenfull.js"></script>
<script src="{{app.request.basepath}}/src/js/app/main.js"></script>
</body>
</html>
