/**
*** PLAYER
*/

.player {
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;

	video {
		width: 100%;
		height: auto;
		margin: 0 auto;
		overflow: hidden;

		&::-webkit-media-controls {
		  display: none !important;
		}

		&::-moz-media-controls {
		  display: none !important;
		}

		&::-o-media-controls {
		  display: none !important;
		}

		&::-ms-media-controls {
		  display: none !important;
		}
	}

	.controls {
		width: 100%;
		height: 50px;
		position: absolute;
		bottom: 36px;

		.seek-bar {
			width: 100vw;
			height: 5px;
			background: red;
			position: absolute;
				bottom: 0;
		}

		.progress-bar {
			width: 100%;
			height: 5px;
			background: blue;
			-webkit-transition: transfrom 100ms;
			   -moz-transition: transfrom 100ms;
				-ms-transition: transfrom 100ms;
				 -o-transition: transfrom 100ms;
					transition: transfrom 100ms;
			-webkit-transform-origin: 0;
			   -moz-transform-origin: 0;
				-ms-transform-origin: 0;
				 -o-transform-origin: 0;
					transform-origin: 0;
		}
	}
}