
@import url(https://fonts.googleapis.com/css?family=Rubik:400,700,500,300|Muli:400,300);.story{
  background-color: #181818;
  overflow: hidden;
  cursor: default;
  background-color: black;
  p{
    color: white;
  }
}

.story {
  animation: fadeIn 1s ease-in-out 0s normal running 1 forwards;
}
footer {
  animation: fadeIn 0s ease-in-out 0s normal running 1 forwards;
}

.button-pass{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background-color: #f4f4f4;
  padding: .5rem 2rem;
  border-radius: 3px;
  right: 1.5rem;
  top: 2rem;
  font-size: .8rem;
  color: #181818;
  box-shadow: 0px 1px 4px -1px black;
  opacity: 0;
  animation: translateButton 1s ease-in-out 1s normal running 1 forwards;
  &:hover{
    background-color: rgba(74, 144, 226, 1);
    color: #f4f4f4;
  }
  &:active{
    background-color: #f4f4f4;
    color: rgba(74, 144, 226, 1);
  }
}

.image-placeholder{
  position: absolute;
  background-image: url("../images/images-story/pacemaker.png");
  background-position: center;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  img{
    width: 100%;
  }
  &.image-story-1{
    animation: animateImage 8s ease-in-out 0s alternate running infinite forwards;
    background-image: url("../images/images-story/pacemaker.png");
  }
  &.image-story-2{
    animation: animateImage 8s ease-in-out 0s alternate running infinite forwards;
    background-image: url("../images/images-story/pacemaker_accept.png");
  }
  &.image-story-3{
    animation: animateImage 8s ease-in-out 0s alternate running infinite forwards;
    background-image: url("../images/images-story/prosthetics_1.png");
  }
  &.image-story-4{
    animation: animateImage 8s ease-in-out 0s alternate running infinite forwards;
    background-image: url("../images/images-story/prosthetics_2.png");
  }
  &.image-story-5{
    animation: animateImage 8s ease-in-out 0s alternate running infinite forwards;
    background-image: url("../images/images-story/implants.png");
  }
  &.image-story-6{
    animation: animateImage 8s ease-in-out 0s alternate running infinite forwards;
    background-image: url("../images/images-story/brain.png");
  }
  &.image-story-7{
    animation: animateImage 8s ease-in-out 0s alternate running infinite forwards;
    background-image: url("../images/images-story/artificial_intelligence.png");
  }
  &.image-story-8{
    animation: animateImage 8s ease-in-out 0s alternate running infinite forwards;
    background-image: url("../images/images-story/stem_cells.png");
  }
}

@keyframes animateImage{
  0%{
    transform: scale(1) rotate(0deg);
  }
  100%{
    transform: scale(1.02) rotate(.5deg);
  }
}

.hover-informations{
  position: absolute;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  top: 0;
  width: 100%;
}
.title-wrapper{
  z-index: 2;
  position: absolute;
  width: 20rem;
  top: 2.5rem;
  left: 2.5rem;
  p{
    font-family: "Abrade",sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: .3rem;
    font-size: .9rem;
  }
  .line{
    width: 100%;
    height: 1px;
    background-color: white;
  }
  h1{
    font-family: "Abrade",sans-serif;
    font-weight: 300;
    margin: 0;
    margin-top: .5rem;
    padding: 0;
    color: white;
    font-size: 2.2rem;
  }
}

.information-element{
  position: absolute;
  width: 30rem;
  &.story-1{
    top: 27vw !important;
    left: 63vw !important;
  }
  &.story-2A{
    top: 28vw !important;
    left: 62vw !important;
  }
  &.story-2B{
    top: 25vw !important;
    left: 30vw !important;
  }
  &.story-3A{
    top: 15vw !important;
    left: 80vw !important;
  }
  &.story-3B{
    top: 25vw !important;
    left: 19vw !important;
  }
  &.story-4A{
    top: 28vw !important;
    left: 62vw !important;
  }
  &.story-4B{
    top: 25vw !important;
    left: 76vw !important;
  }
  &.story-4A{
    top: 28vw !important;
    left: 62vw !important;
  }
  &.story-4C{
    top: 25vw !important;
    left: 49vw !important;
  }
  &.story-5A{
    top: 22vw !important;
    left: 48vw !important;
  }
  &.story-5B{
    top: 28vw !important;
    left: 24vw !important;
  }
  &.story-7A{
    top: 22vw !important;
    left: 48vw !important;
  }
  &.story-7B{
    top: 28vw !important;
    left: 24vw !important;
  }
  &.story-7C{
    top: 14vw !important;
    left: 37vw !important;
  }
  &.story-6A{
    top: 15vw !important;
    left: 66vw !important;
  }
  &.story-6B{
    top: 19vw !important;
    left: 24vw !important;
  }
  &.story-6C{
    top: 14vw !important;
    left: 47vw !important;
  }
  &:nth-child(1){
    top: 6vw;
    left: 65vw;
  }
  &:nth-child(2){
    top: 12vw;
    left: 60vw;
  }
  &:nth-child(3){
    top: 16vw;
    left: 55vw;
  }
  &.left{
    .information-panel{
      left: -35vw;
    }
  }
}

.subtitles{
  position: absolute;
  z-index: 1;
  top: 20vw;
  width: 100%;
  text-align: center;
  p{
    width: 50%;
    margin: auto;
    font-weight: 100;
    line-height: 1.5;
  }
}


.circle-pointer{
  position: relative;
  background-color: #4a90e2;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1px 2px 5px -1px black;
  .circle-hover{
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50px;
    transform: translateY(-1px) translateX(-1px) scale(0);
    transform-origin: center;
    transition: all .3s;
    .line{
      background-color: white;
      opacity: 0;
      width: 200px;
      height: 2px;
      margin-top: .5rem;
      margin-left: 1.25rem;
      transform: rotate(11deg);
      transform-origin: left;
      transition: all .3s ease-in-out .2s;
      &.left{
        transform: rotate(-190deg);
        margin-top: 0.5rem;
        margin-left: 0rem;
      }
    }
  }
  &:hover{
    background-color: #6db0ff;
    .circle-hover{
      opacity: 1;
      transform: translateY(-1px) translateX(-1px) scale(1.5);
      .line{
        opacity: 1;
      }
    }
  }
}

.circle-pointer:hover+.information-panel{
  opacity: 1;
  transform: translateX(-15px) translateY(0) translateZ(0);
  .title{
    opacity: 1;
    transform: translateX(-15px) translateY(0) translateZ(0);
  }
  .aside-picture{
    transform: translateX(5px) translateY(5px) translateZ(0);
  }
}

.circle-pointer:hover+.information-panel.left{
  opacity: 1;
  .title{
    opacity: 1;
    transform: translateX(15px) translateY(0) translateZ(0);
  }
  .aside-picture{
    transform: translateX(15px) translateY(5px) translateZ(0);
  }
}


.information-panel{
  position: absolute;
  background-color: #4a90e2;
  opacity: 0;
  width: 18vw;
  display: inline-block;
  left: 5vw;
  margin-left: 1rem;
  padding: 3rem 1.5rem 2rem 1.5rem;
  transform: translateX(0) translateY(0) translateZ(0);
  transition: all .3s;
  box-shadow: 0px 2px 9px -2px black;
  .title{
    font-family: "Abrade",sans-serif;
    position: absolute;
    background-color: white;
    opacity: 0;
    width: 17vw;
    color: #4a90e2;
    font-size: 1.35rem;
    top: 0;
    margin-top: -1rem;
    margin-left: 1rem;
    padding: .5rem 1rem;
    transform: translateX(0) translateY(0) translateZ(0);
    transition: all .3s ease-in-out;
    box-shadow: 0px 2px 9px -3px black;
  }
  .description{
    color: #fefefe;
    font-family: "Abrade",sans-serif;
    font-weight: 300;
    line-height: 1.4;
    font-size: .8rem;
  }
  .source{
    font-family: "Abrade",sans-serif;
    font-size: .8rem;
    margin-top: .5rem;
  }
  .aside-picture{
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: 1vw;
    right: -4vw;
    transform: translateX(0) translateY(0) translateZ(0);
    transition: all .3s;
    box-shadow: -1px 1px 4px -1px black;
    img{
      width: 100%;
    }
  }
  &.left{
    left: -35vw;
  }
}
.body-situation-init{
  position: absolute;
  z-index: 1;
  bottom: 4rem;
  left: 3rem;
  img{
    width: 7vw;
  }
}
.panel-controller{
  box-shadow: 1px -1px 8px -1px black;
  position: absolute;
  z-index: 99;
  background-color: #252525;
  width: 100%;
  bottom: 0;
  padding: 2rem 3rem 4rem 3rem;
  transition: all ease-in-out .3s;
  transform: translateX(0) translateY(18.25rem) translateZ(0);
  .body-situation{
    display: inline-block;
  }
  .identity{
    display: inline-block;
    color: white;
    vertical-align: top;
    .row{
      margin: 0rem 0rem 1rem 0rem;
      .data-item{
        display: inline-block;
        margin: 0rem 1.5rem 0rem 3.5rem;
        h2{
          color: white;
          font-family: "Abrade",sans-serif;
          font-weight: 400;
          font-size: .8rem;
          margin: 0;
        }
        h3{
          color: #59d8e6;
          font-family: "Abrade",sans-serif;
          font-weight: 300;
          font-size: 1.5rem;
          margin: 0;
          margin-top: .3rem;
        }
        &.left{
          margin-left: 6rem;
        }
        img{
          margin-top: 1rem;
        }
      }
    }
  }
  &.active{
    transform: translateX(0) translateY(0) translateZ(0);
    .switcher>img{
      transform: rotate(90deg);
    }
  }
}
.separator{
  background-color: white;
  width: 1px;
  height: 10vw;
  display: inline-block;
  transform: translateY(-3rem) translateX(3rem);
}
.upgrades-status{
  display: inline-block;
  color: white;
  vertical-align: top;
  margin-left: 6.5rem;
  .row{
    margin: 0rem 0rem 1rem 0rem;
    .data-item{
      display: inline-block;
      margin: 0rem 1.5rem 0rem 3.5rem;
      h2{
        color: white;
        font-family: "Abrade",sans-serif;
        font-weight: 400;
        font-size: .8rem;
        margin: 0;
      }
      h3{
        color: #59d8e6;
        font-family: "Abrade",sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        margin: 0;
        margin-top: .3rem;
      }
      &.locked{
        opacity: .5;
        h3{
          color: grey;
        }
      }
      &.success{
        h3{
          color: #85db18;
        }
      }
      &.failed{
        h3{
          color: #dc3522;
        }
      }
      &.left{
        margin-left: 2.72rem;
      }
      &.left-2{
        margin-left: 2rem;
      }
    }
  }
}
.switcher{
  cursor: pointer;
  position: absolute;
  z-index: 3;
  background-color: rgba(37, 37, 37, 1);
  width: 23px;
  height: 20px;
  top: -30px;
  left: 50vw;
  padding: .3rem;
  transition: all .3s;
  img{
    width: 100%;
    height: 100%;
    transition: all .3s;
    transform: rotate(-90deg);
    transform-origin: center;
  }
  &:hover{
    background-color: rgba(60, 60, 60, 1);
  }
  &:active{
    background-color: rgba(37, 37, 37, 1);
  }
}
.overlay{
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0;
  transition: all .2s;
  &.active{
    z-index: 1;
    opacity: 0.5;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fadeInBody{
  0%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
@keyframes translateButton{
  0%{
    transform: translateY(-20px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 1280px){

  .panel-controller{
    transform: translateX(0) translateY(67vh) translateZ(0);
  }
  .hover-informations{
    top: 2.5rem;
    left: 0rem;
  }
  .information-panel{
    left: 2.5rem;
  }
}

.next-button{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  color: black;
  background-color: white;
  width: 11rem;
  padding: .75rem 2rem;
  margin: auto;
  font-weight: 500;
  margin-top: 2rem;
  border-radius: 3px;
  box-shadow: 1px 1px 4px -2px black;
  &:hover{
    color: rgba(74, 144, 226, 1);
    background-color: #F6F6F6;
  }
  &:active{
    background-color: white;
  }
}


.container-btn-next {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 50px;
  .btn-next {
    background: $color-light;
    color: $color-dark;
    padding: 10px 30px;
    border-radius: 10px;
  }
}


.container-btn-next-relative {
  position: relative;
  cursor: pointer;
  .btn-next {
    background: $color-light;
    color: $color-dark;
    padding: 10px 30px;
    border-radius: 10px;
  }
}
