/*
*** SET UP
*/

/*
* COLORS */ 

/* COLORS DOMINANT */
$color-dominant-dark:  		 #34495e;
$color-dominant-dark-hover:  #2c3e50;
$color-dominant-light: 		 #e67e22;
$color-dominant-light-hover: #d35400;

/* COLORS BASICS */
$color-light:	 	   		 #fefefe;
$color-dark:		   		 #353535;

/* COLORS */
$color-grey:				 #efeff3;
$color-red:				 	 #e74c3c;

/*
* FONTS */ 

$font-title:		   		 'Rubik';
$font-body:		   	   		 'Muli';

/*
* TRANSITIONS */

$transition-fast:   		  all 150ms;
$transition-standard:   	  all 300ms;
$transition-slow:  			  all 600ms;


