<div class="dilemma-panel">
  <div class="left-choice">
    <div class="text">
      <h2> Votre mémoire s’éteindra avec vous, comme ça a toujours été le cas.</h2>
      <h1>NE PAS NUMERISER MA MEMOIRE</h1>
      <div class="signature">
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div id="cursor-signature-left" class="cursor"></div>
        <div class="line"></div>
        <div id="validation-left" class="validation"></div>
      </div>
    </div>
  </div>
  <div class="right-choice">
    <div class="text">
      <h1>NUMERISER MA MEMOIRE</h1>
      <h2>Vous voulez que le monde se souvienne de vous, et cela passe par un stockage numérique.</h2>
      <div class="signature">
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div id="cursor-signature-right" class="cursor"></div>
        <div class="line"></div>
        <div id="validation-right" class="validation"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="image-placeholder"></div>
<div class="image-placeholder image-story-6"></div>
