<div class="dilemma-panel">
  <div class="left-choice">
    <div class="text">
      <h2>Vous avez assez vécu sur cette planète, vous voulez vous reposer.</h2>
      <h1>VOUS NE VOULEZ PAS D’UNE VIE ÉTERNELLE/h1>
      <div class="signature">
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div id="cursor-signature-left" class="cursor"></div>
        <div class="line"></div>
        <div id="validation-left" class="validation"></div>
      </div>
    </div>
  </div>
  <div class="right-choice">
    <div class="text">
      <h1>VOUS ÊTES PRÊT A VIVRE ÉTERNELLEMENT</h1>
      <h2>Vous voulez retrouver l’énegie de vos 20 ans </h2>
      <div class="signature">
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div id="cursor-signature-right" class="cursor"></div>
        <div class="line"></div>
        <div id="validation-right" class="validation"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="image-placeholder"></div>
