<div class="dilemma-panel">
  <div class="left-choice">
    <div class="text">
      <h2>Vous préférez conserver un bras handicapé</h2>
      <h1>NE PAS REMPLACER</h1>
      <div class="signature">
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div id="cursor-signature-left" class="cursor"></div>
        <div class="line"></div>
        <div id="validation-left" class="validation"></div>
      </div>
    </div>
  </div>
  <div class="right-choice">
    <div class="text">
      <h1>REMPLACER PAR UNE PROTHÉSE</h1>
      <h2>Opération assez lourde, mais qui vous changerait la vie</h2>
      <div class="signature">
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div id="cursor-signature-right" class="cursor"></div>
        <div class="line"></div>
        <div id="validation-right" class="validation"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="image-placeholder"></div>
