<div class="title-wrapper animation">
  <p>Fin</p>
  <div class="line"></div>
  <h1>Vous n'êtes pas transhumain</h1>
</div>
<div class="subtitles">
  <p>Vous n’êtes pas encore prêts à passer au stade de transhumain. Vous préférez conserver votre corps biologique. Mais dans un monde amené à devenir de plus en plus transhumain, vous pourriez vous retrouver marginalisé et avoir des difficultés à vous intégrer.</p>
  <div  class="next-button" onclick="">Voir les statistiques</div>
</div>
<div class="image-placeholder image-story-2"></div>