<div class="title-wrapper animation">
  <p>Fin</p>
  <div class="line"></div>
  <h1>Vous êtes transhumain</h1>
</div>
<div class="subtitles">
  <p>Vous avez modifié votre corps et vous pouvez maintenant faire des choses auparavant impossibles. Vous êtes un véritable transhumain. Mais avec toutes ces transformations, êtes vous encore humain?</p>
  <div  class="next-button" onclick="">Voir les statistiques</div>
</div>
<div class="image-placeholder image-story-2"></div>