<div class="title-wrapper">
  <p>2030</p>
  <div class="line"></div>
  <h1>Intelligence Artificielle</h1>
</div>
<div class="hover-informations">
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Premiers balbutiements</div>
      <div class="description">Des <span>progrès</span> sont faits chaque jour dans le domaine de l’<span>intelligence artificielle</span>. <br>
-<span>Tae-Woo Lee</span>, un chercheur en science des matériaux à Pohang University of Science and Technology en Corée du Sud, a créé des <span>synapses artificielles plus efficaces que les biologiques</span>. Ils requièrent moins d’énergie que les synapses humaines pour fonctionner. <br>
-En octobre 2015, l'intelligence artificielle <span>AlphaGo</span> a <span>battu à trois reprises</span> le champion du monde de jeu de go Lee Sedol. Cela représente une très grande <span>avancée</span> dans le monde des IA. Il y a 10^600 possibilités au jeu de go, contre seulement 10^120 au jeu d’échecs. <br>
-Une firme russe développe actuellement un <span>robot intelligent</span>, Promobot. Il est capable de se déplacer librement et d’éviter les obstacles. Mais cette intelligence l’a déjà mené à faire <span>deux tentatives d’évasion</span> du périmètre d’essais.
</div>
      <div class="source">Source : Science et vie</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-small-1.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Le deep learning</div>
      <div class="description">Actuellement, le développement de l’intelligence artificielle de demain s’opère autour d’un concept central : <span>le deep learning</span>. Il s’agit d’un système d’<span>apprentissage profond</span>, basé sur un <span>réseau de neurones artificiels</span>. Il est aujourd’hui en partie utilisé par des systèmes comme <span>Siri</span> ou Cortana, afin de se développer en fonction des requêtes des utilisateurs. Le deep learning permet aux machines de <span>reconnaître des images, de la voix et de décrypter le monde qui les entourent</span>. Avec les méthodes traditionnelles, la machine se contente de comparer les pixels. Le deep learning permet un apprentissage sur des caractéristiques plus abstraites que des valeurs de pixels, qu'elle va <span>elle-même construire</span>.
      Cette reconnaissance est <span>essentielle</span> au bon développement d’une IA. <br>
      Le but à long terme est d’arriver à une intelligence artificielle dite <span>forte</span>, c’est à dire <span>pouvant s’améliorer seule</span>. Mais cela peut mener à certaines dérives...
</div>
      <div class="source">Source : Libération</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-small-2.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line left"></div>
      </div>
    </div>
    <div class="information-panel left">
      <div class="title">Dérives possibles</div>
      <div class="description">Comme pour toute grande innovation technologique, de nombreux scientifiques étudient les possibilités de l’arrivée d’une intelligence artificielle forte. Certains, comme <span>Stephen Hawkins</span>, pensent que l’apparition d’une intelligence artificielle forte mènerait à la <span>fin de l’humanité</span>. Certains organismes comme le <span>Future of Life Institute</span> alertent déjà le public sur de telles éventualités. Ces visions alarmistes s’opposent à des visions plus utopistes, selon lesquelles une intelligence artificielle nous serait <span>bénéfique</span> et travailleraient avec nous à <span>améliorer l’humanité</span>. <br>
      Les intelligences artificielles pourraient <span>remplacer un très grand nombre d’emplois</span>, jusqu’à contrôler le monde entier. L’apparition d’un intelligence artificielle forte serait une <span>singularité technologique</span> si forte qu’elle transformerait nos vies de manière irréversible.
</div>
      <div class="source">Source : iatranshumanisme.com</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-eye.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
</div>
<div class="image-placeholder"></div>