<div class="title-wrapper">
  <p>2022</p>
  <div class="line"></div>
  <h1>Implants et puces</h1>
</div>
<div class="hover-informations">
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel story-4A">
      <div class="title">Kevin Warwick</div>
      <div class="description"> <span>Kevin Warwick</span> est un professeur de cybernétique américain. Il est considéré comme le <span>premier cyborg humain</span>. Après avoir étudié pendant plusieurs années les liens entre technologie et neurorécepteurs, le docteur Warwick a réussi à <span>contrôler une main robotique à distance </span>par la pensée avec une puce implantée dans son corps. Il s’est aussi implanté temporairement une puce permettant de <span>contrôler l’allumage des lampes de sa maison par la pensée</span>. Il a réussi à créer une <span>connexion</span> entre lui et sa femme à l’aide d’<span>implants neuronals</span>. Quand sa femme fermait le poing, il le ressentait directement dans son cerveau. Il espère pouvoir utiliser cette technologie pour communiquer directement de cerveau à cerveau et créer ainsi une <span>télépathie technologique</span>.
      </div>
      <div class="source">Source : "Kevin Warwick, human cyborg" - Youtube</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-small-1.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element story-4B">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Les implants comme une arme</div>
      <div class="description">Un grand débat fait actuellement rage à propos de l’<span>implantation de puces</span> à l’intérieur d’êtres humains. Par exemple, la DARPA travaille sur des puces pouvant être implantées <span>dans le cerveau des soldats</span> pour les rendre <span>plus résistants</span> à la guerre. Mais de telles puces sont encore illégales. En effet, ces puces sont indétectables et pourraient être utilisées pour de l’<span>espionnage</span>. De telles puces peuvent servir pour traquer les mouvements, effectuer des paiements et <span>surveiller notre état de santé en permanence</span>.
      </div>
      <div class="source">Source : BBC</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-small-2.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element story-4C">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line left"></div>
      </div>
    </div>
    <div class="information-panel left">
      <div class="title"> Avantages / défauts</div>
      <div class="description"> <span>Apports : </span><br>
      -Paiements avec la main <br>
      -Contrôle permanent de notre santé<br>
      -Rappels en cas de problèmes de santé <br> <br>

        <span>Problèmes:</span> <br>
        -trackage permanent de votre activité <br>
        -génération d’informations sensibles et personnelles <br>
        -applications encore limitées <br>
</div>
      <div class="source">Sources : multiples</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-eye.png" alt=""></div>
    </div>
  </div>
  <div class="container-btn-next">
    <a id="next-button-pacemaker" class="next-button">Continuer l'histoire</a>
  </div>
  <!-- Item information-element : END -->
</div>
<div class="image-placeholder image-story-5"></div>
