<div class="title-wrapper">
  <p>Survolez les pastilles pour en découvrir plus</p>
  <div class="line"></div>
  <h1>Emilia Clarke</h1>
</div>
<div class="hover-informations">
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Un regard éclatant</div>
      <div class="description">Your wedding day is important, nobody needs to remind you of that. You are going to be the center of attention (at long last!) as all eyes will be on you and your groom. Even though your friends and family are there to cheer you on and celebrate the great day along with you, it can still be incredibly nerve wracking to have to stand in front of them all and try desperately to look your best.</div>
      <div class="source">Source : Wikipedia.com</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-small-1.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Des lèvres à croquer</div>
      <div class="description">Your wedding day is important, nobody needs to remind you of that. You are going to be the center of attention (at long last!) as all eyes will be on you and your groom. Even though your friends and family are there to cheer you on and celebrate the great day along with you, it can still be incredibly nerve wracking to have to stand in front of them all and try desperately to look your best.</div>
      <div class="source">Source : Wikipedia.com</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-small-2.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line left"></div>
      </div>
    </div>
    <div class="information-panel left">
      <div class="title">Une chevelure divine</div>
      <div class="description">Your wedding day is important, nobody needs to remind you of that. You are going to be the center of attention (at long last!) as all eyes will be on you and your groom. Even though your friends and family are there to cheer you on and celebrate the great day along with you, it can still be incredibly nerve wracking to have to stand in front of them all and try desperately to look your best.</div>
      <div class="source">Source : Wikipedia.com</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-eye.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
</div>
<div class="image-placeholder"></div>
