<div class="title-wrapper">
  <p>2050</p>
  <div class="line"></div>
  <h1>La vie éternelle</h1>
</div>
<div class="hover-informations">
  <!-- Item information-element : BEGIN -->
  <div class="information-element story-7C">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Cellules souches</div>
      <div class="description">Une des pistes majeures étudiées pour la vie éternelle est la création de <span>cellules souches</span>. Nos cellules se divisent grâce aux <span>telomères</span>, une molécule présente dans nos <span>chromosomes</span>. Lorsqu’il n’y en a plus, la cellule ne se divise plus : elle vieillit. Il existe une <span>enzyme</span> présente dans nos cellules souche, la <span>télomérase</span>, qui répare no télomères. En développant des cellules souches artificiellement, on pourrait créer à loisir de la télomérase et donc <span>ralentir le vieillissement de nos cellules</span>. Le biologiste <span>Aubrey de Grey</span> a créé le <span>projet S.E.N.S</span> afin d’étudier ces cellules souches et les réutiliser.
      Certaines expériences ont porté leur fruits, comme un patient victime d’un AVC qui a <span>retrouvé l’usage de ses jambes</span> après injection de cellules souches dans son cerveau.

</div>
      <div class="source">Source : Science et vie</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-small-1.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element story-7A">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Google X lab</div>
      <div class="description">Google a créé en 2000 <span> Google X Labs</span> (sobrement rebaptisé <span>X</span>), une entreprise dédiée aux recherches sur l’<span>humain augmenté</span> (intelligence artificielle, robotique, voitures autonomes). Une grande partie de ces projets ont pour thème la <span>lutte contre la vieillesse</span>. Ils ont par exemple développé un bracelet permettant de <span>détecter les cellules cancéreuses</span> dans le corps grâce à des nanoparticules avalées préalablement sous forme de pilule par le patient. Un grand nombre de projets sont encore tenus <span>secrets</span>, mais de nombreuses pistes sont explorées et l’immortalité ou au moins l’<span>augmentation de l’espérance de vie</span> n’est selon eux plus très loin.
</div>
      <div class="source">Source : Dailymail</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-small-2.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element story-7B">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Culture de cellules</div>
      <div class="description">Aujourd’hui, il existe des <span>cultures de cellules</span> de la peau, permettant de reconstituer des visages. On étudie la culture de cellules, permettant de <span>réparer des organes par injection</span>. Il est possible de <span>faire rajeunir des cellules</span> en cellules souches embryonnaires, de manière à ce qu’elle se régénère à l’infini. Ces cellules sont ensuite cultivées pour devenir des cellules de peau, de muscle ou d’un autre organe. Cette culture vise à la <span>fabrication d’organes compatibles</span> avec tous les corps humains puisque créés avec nos propres cellules. Mais ces expérimentations coûtent <span>très cher</span> et sont encore inconcevables à grande échelle.


</div>
      <div class="source">Source : iatranshumanisme.com</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-eye.png" alt=""></div>
    </div>
  </div>
  <div class="container-btn-next">
   <a id="next-button-pacemaker" class="next-button">Continuer l'histoire</a>
 </div>
  <!-- Item information-element : END -->
</div>
<div class="image-placeholder image-story-8"></div>
