<div class="title-wrapper animation">
  <p>Humain augmenté</p>
  <div class="line"></div>
  <h1>Transhumanisme</h1>
</div>
<div class="subtitles">
  <p>L’opération s’est bien déroulée. Vous avez dorénavant une pile implantée sous la clavicule, contrôlant en permanence les battements de votre coeur. Ce petit appareil électronique vous garantit plusieurs années supplémentaires de vie sur Terre. Vous êtes d’ores et déjà un humain augmenté, un transhumain.</p>
  <div class="signature">
    <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
    <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
    <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
    <div id="cursor-signature-right" class="cursor"></div>
    <div class="line"></div>
    <div id="validation-right" class="validation"></div>
  </div>
</div>
<div class="image-placeholder image-story-2"></div>
