<div class="title-wrapper">
  <p>Survolez les pastilles pour en découvrir plus</p>
  <div class="line"></div>
  <h1>Pacemaker</h1>
</div>
<div class="hover-informations">
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Histoire du pacemaker</div>
      <div class="description">- <span>Premier modèle</span>  implanté en <span> 1958</span>  <br>
-<span> Années 1970</span>  : Apparition de stimulateurs programmables par des boîtiers externes. Apparition du <span> premier pacemaker atomique</span>  <br>
-<span> Années 1980</span>  : premiers stimulateurs asservis, alimentés avec l’énergie du patient. Premier <span> défibrillateur cardiaque</span>  intégré au pacemaker <br>
Aujourd’hui, il s’agit d’une <span> opération commune </span> avec plus d’<span> un million de stimulateurs implantés par an</span> .
</div>
      <div class="source">Source : Wikipedia</div>
      <div class="aside-picture"><img src="src/images/images-story/pacemaker_small.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
 
</div>
