<div class="title-wrapper">
  <p>2016</p>
  <div class="line"></div>
  <h1>Prothèses réparatrices</h1>
</div>
<div class="hover-informations">
  <!-- Item information-element : BEGIN -->
  <div class="information-element story-2A">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Production de prothèses</div>
      <div class="description">Aujourd’hui, il est <span>fréquent</span> de <span>remplacer</span> des membres mutilés ou handicapés par des <span>prothèses</span>, que ce soit les bras, les jambes ou d’autres parties du corps.
        Plusieurs entreprises en produisent, souvent dirigées par des personnes avec des prothèses.
        <span>Plus de deux millions de personnes</span> vivent actuellement avec des prothèses de jambe ou de bras <span>aux Etats-Unis</span>.
      </div>
      <div class="source">Source : "Le transhumanisme et l'homme de demain" - Youtube</div>
      <div class="aside-picture"><img src="src/images/images-story/prosthetic_small.png" alt="prothèse"></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element story-2B">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Exemples édifiants</div>
      <div class="description"><span>Jozef Metelka</span> - Ce coureur cycliste a perdu sa jambe droite en 2009 lors d’un accident. Il a depuis développé <span>13 jambes prosthétiques</span> différentes, qu’il peut intervertir à loisir. Il n’est <span>pas encore possible</span> de développer une <span>unique prothèse</span> s’adaptant à toutes les situations. Chacune de ces jambes a donc un but spécifique et permet de l’accomplir au mieux. <br><br>
        <span>Eyeborg</span> - Eyeborg a perdu son oeil à l’âge de 9 ans. Il vit depuis avec un oeil de verre. Il a <span>remplacé cet oeil par une caméra</span> miniature dont il peut contrôler l’orientation. Les images prses par cette caméra sont ensuite retransmises sur un moniteur qu’il conserve en permanence. Elle n’est pas reliée au système nerveux. <br><br>
        <span>Oscar Pistorius</span> - <span>Champion olympique</span> aux deux pieds amputés, remplacés par des <span>prothèses en fibre de carbone</span> permettant de courir plus rapidement que la moyenne.
      </div>
      <div class="source">Sources : "Eyeborg-The documentary", BBC</div>
      <div class="aside-picture"><img src="src/images/images-story/eyeborg_small.png" alt="eyeborg"></div>
    </div>
    <div class="container-btn-next">
      <a id="next-button-pacemaker" class="next-button">Continuer l'histoire</a>
    </div>
  </div>
  <!-- Item information-element : END -->
</div>
<div class="image-placeholder image-story-3"></div>
