<div class="title-wrapper">
  <p>2025</p>
  <div class="line"></div>
  <h1>Stockage mémoriel</h1>
</div>
<div class="hover-informations">
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Le stockage de la mémoire</div>
      <div class="description">En 2013, un <span>génome humain</span> peut être <span>séquencé</span> en seulement quelques heures et pour quelques milliers d’euros. De nombreuses recherches sont en cours pour <span>stocker notre mémoire</span> ainsi que la complexité d’un cerveau humain et de ses quelque <span>100 milliards de cellules </span>avec leurs connexions. Des projets comme <span>Human Cognome</span>, <span>Blue Brain</span> ou <span>Human Brain Project</span> visent à numériser le cerveau humain dans un superordinateur afin de pouvoir l’étudier. De tels projets ont déjà réussi à recréer le système neuronal d’un ver de terre ou d’un rat. Une conscience ainsi numérisée pourrait être <span>stockée dans un robot </span>et apporter un <span>semblant de vie éternelle</span> à son possesseur.
</div>
      <div class="source">Source : iatranshumanisme.com</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-small-1.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel">
      <div class="title">Dérives</div>
      <div class="description">Est-ce que notre esprit stocké nous appartient encore? <span>Est-il encore nous?</span> Si la technologie parvient à stocker et reproduire parfaitement un esprit humain dans un ordinateur, celui-ci pourrait être reconnu comme humain. Il serait alors possible de lui faire subir des humiliations et de le <span>torturer numériquement</span>, ce qui peut s’avérer très grave et transformer totalement cette conscience numérisée.</div>
      <div class="source">Source : dirty biology</div>
      <div class="aside-picture"><img src="src/images/images-story/emilia-clarke-small-2.png" alt=""></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  
</div>
<div class="image-placeholder"></div>
