<div class="title-wrapper">
  <p>2019</p>
  <div class="line"></div>
  <h1>Prothèses d'augmentation</h1>
</div>
<div class="hover-informations">
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel story-3A">
      <div class="title">Les technologies:</div>
      <div class="description">Il ne s’agit plus de réparer le corps, mais de l’<span>augmenter</span>. Plusieurs technologies sont actuellement étudiées comme : <br>
      -l’<span>ostéo-intégration</span>, qui consiste à combiner du métal à l’organisme humain. <br>
      -la <span>peau artificielle</span>, encore difficile à contrôler, qui pourrait remplacer la peau endommagée. <br>
      -l’<span>impression 3D</span>, qui facilitera la création et la production de prothèses. <br>
      -l’<span>optogénétique</span>, qui consiste à activer certains nerfs en stimulant les cellules grâce à une lumière bleue. Cela pourra permettre à terme de <span>contrôler des membres entiers numériquement</span>. <br>

      Mais il faudra encore du temps avant d’arriver à rétablir la <span>sensation du toucher</span> à travers des prothèses.
.</div>
      <div class="source">Source : pulse.edf </div>
      <div class="aside-picture"><img src="src/images/images-story/prosthetic-2-small.png" alt="Technologies"></div>
    </div>
  </div>
  <!-- Item information-element : END -->
  <!-- Item information-element : BEGIN -->
  <div class="information-element">
    <div class="circle-pointer">
      <div class="circle-hover">
        <div class="line"></div>
      </div>
    </div>
    <div class="information-panel story-3B">
      <div class="title">Les exosquelettes</div>
      <div class="description">Les prothèses d’augmentations sont massivement étudiées dans <span>l’armement</span>, pouvant permettre aux soldats de dépasser leurs simples capacités physiques. Panasonic a développé une gamme d’<span>exosquelettes</span> visant à soulager les personnes portant de lourds poids. Ils espèrent ainsi <span>faciliter le travail</span> de nombreux ouvriers.
      L’armée américaine a développé le <span>projet HULC</span> (Human Universal Load Carrier) permettant aux soldats de <span>marcher</span> pendant plus de 72 heures <span>sans se fatiguer</span>, leur poids étant supporté par la machine.</div>
      <div class="source">Source : Le web pedagogique</div>
      <div class="aside-picture"><img src="src/images/images-story/exo-small.png" alt="Exosquelettes"></div>
    </div>
  </div>
  <!-- Item information-element : END -->
</div>
<div class="image-placeholder image-story-4"></div>
