{{include('partials/header.twig')}}

	<div class="decoration">
		<img src="{{app.request.basepath}}/src/images/half-square.svg" alt="Half square">
		<img src="{{app.request.basepath}}/src/images/half-square.svg" alt="Half square">
		<div class="clear"></div>
	</div>

<div class="timeline">
	<div class="date">
		<div class="circle"></div>
		<div class="time">2012</div>
	</div>
	<div class="date">
		<div class="circle"></div>
		<div class="time">2013</div>
	</div>
	<div class="date">
		<div class="circle"></div>
		<div class="time">2014</div>
	</div>
	<div class="date">
		<div class="circle"></div>
		<div class="time">2015</div>
	</div>
	<div class="date expand">
		<div class="circle"></div>
		<div class="time">2016</div>
	</div>
	<div class="date passed">
		<div class="circle"></div>
		<div class="time">2017</div>
	</div>
	<div class="date passed">
		<div class="circle"></div>
		<div class="time">2018</div>
	</div>
	<div class="date passed">
		<div class="circle"></div>
		<div class="time">2019</div>
	</div>
	<div class="date passed">
		<div class="circle"></div>
		<div class="time">2020</div>
	</div>
	<div class="line"></div>
</div>

<div class="quote">
	<p>“Lorsqu'une chose évolue, tout ce qui est autour évolue de même.”</p>
	<p>- Paulo Coelho / L'Alchimiste</p>
</div>

</body>
</html>

{{include('partials/footer.twig')}}
