<div class="dilemma-panel">
  <div class="left-choice">
    <div class="text">
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tempore, labore! Officiis, minus necessitatibus repellat dolores, eos, aliquam, est eius quam voluptatibus molestiae nisi eum vel saepe dolorem nobis temporibus.</h2>
      <h1>Friendzoner Émilia</h1>
      <div class="signature">
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div id="cursor-signature-left" class="cursor"></div>
        <div class="line"></div>
        <div id="validation-left" class="validation"></div>
      </div>
    </div>
  </div>
  <div class="right-choice">
    <div class="text">
      <h1>Épouser Émilia</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tempore, labore! Officiis, minus necessitatibus repellat dolores, eos, aliquam, est eius quam voluptatibus molestiae nisi eum vel saepe dolorem nobis temporibus.</h2>
      <div class="signature">
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div class="arrow"><img src="src/images/right_arrow.svg" alt="Flèche droite"></div>
        <div id="cursor-signature-right" class="cursor"></div>
        <div class="line"></div>
        <div id="validation-right" class="validation"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="image-placeholder"></div>
