<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
	</head>
	<body class="login">
		<div class="center-align">
			<a class="btn-large facebook-button" href="{{loginUrl}}">
				<!-- <img class="facebook-icon" src="{{app.request.basepath}}/src/images/facebook-icon.svg" alt="facebook icon"> -->
				Connect with Facebook
			</a>
		</div>
	</body>
	</html>
		
		
	
{{include('partials/footer.twig')}}
