<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
	</head>
	<body>
		<a href="{{loginUrl}}">
			<!-- <img class="facebook-icon" src="{{app.request.basepath}}/src/images/facebook-icon.svg" alt="facebook icon"> -->
			Démarrer l'expérience
		</a>
	</body>
	</html>	
{{include('partials/footer.twig')}}
