/*
*** SET UP
*/
/*
*** SET UP
*/
/*
* COLORS */
/* COLORS DOMINANT */
/* COLORS BASICS */
/* COLORS */
/*
* FONTS */
/*
* TRANSITIONS */
@import url(https://fonts.googleapis.com/css?family=Rubik:400,700,500,300|Muli:400,300);
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Rubik:400,700,500,300|Muli:400,300);
.login {
  background-color: #181818; }

.decoration {
  padding: 2rem 2rem 0rem 2rem; }
  .decoration img {
    float: left; }
    .decoration img:nth-child(2) {
      float: right;
      transform: rotate(90deg); }

.main-core {
  z-index: 1;
  text-align: center;
  padding-top: 30vh; }
  .main-core img {
    max-width: 30rem; }
  .main-core p {
    width: 65vw;
    color: white;
    font-family: "Abrade",sans-serif;
    margin: auto;
    padding-bottom: 4rem; }

.facebook-button {
  font-family: "Abrade",sans-serif;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: auto;
  padding: 1rem 3rem;
  border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: .8rem;
  letter-spacing: .40px;
  transition: all .2s; }
  .facebook-button img {
    transform: translateY(4px) translateX(-6px); }
    .facebook-button img:nth-child(2) {
      opacity: 0.5;
      transform: translateY(7px) translateX(10px);
      transition: all .2s .1s;
      animation: translateYoyo 2s ease-in-out 0s alternate infinite running forwards; }
  .facebook-button:hover {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.2); }
    .facebook-button:hover img {
      opacity: 1; }
    .facebook-button:hover img:nth-child(2) {
      opacity: 1; }
    .facebook-button:hover + .background-video > video {
      transform: rotate(5deg) scale(1.03); }

.background-video {
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  position: absolute; }
  .background-video .overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background-color: black; }
  .background-video video {
    transition: transform .3s;
    left: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover; }

@keyframes translateYoyo {
  0% {
    transform: translateY(7px) translateX(15px); }
  100% {
    transform: translateY(7px) translateX(5px); } }
.begin {
  background-color: black; }

.begin .decoration {
  animation: fadeOut 1s ease-in-out 4.5s normal running 1 forwards; }

.timeline {
  position: relative;
  opacity: 0;
  width: 100vw;
  text-align: center;
  margin: auto;
  animation: appearTimeline 1s ease-in-out .5s normal running 1 forwards, fadeOut 1s ease-in-out 4.5s normal running 1 forwards; }
  .timeline .date {
    opacity: 0;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
    padding-left: 2rem; }
    .timeline .date:nth-child(1) {
      animation: appearDate 0.3s ease-in-out 1.15s normal running 1 forwards; }
    .timeline .date:nth-child(2) {
      animation: appearDate 0.3s ease-in-out 1.3s normal running 1 forwards; }
    .timeline .date:nth-child(3) {
      animation: appearDate 0.3s ease-in-out 1.45s normal running 1 forwards; }
    .timeline .date:nth-child(4) {
      animation: appearDate 0.3s ease-in-out 1.6s normal running 1 forwards; }
    .timeline .date:nth-child(5) {
      animation: appearDate 0.3s ease-in-out 1.75s normal running 1 forwards; }
    .timeline .date:nth-child(6) {
      animation: appearDate 0.3s ease-in-out 1.9s normal running 1 forwards; }
    .timeline .date:nth-child(7) {
      animation: appearDate 0.3s ease-in-out 2.05s normal running 1 forwards; }
    .timeline .date:nth-child(8) {
      animation: appearDate 0.3s ease-in-out 2.2s normal running 1 forwards; }
    .timeline .date:nth-child(9) {
      animation: appearDate 0.3s ease-in-out 2.35s normal running 1 forwards; }
    .timeline .date.passed .circle {
      background-color: #7d7d7d;
      border: 2px solid #e9e9e9; }
    .timeline .date.passed .time {
      opacity: .5; }
    .timeline .date.expand {
      transform: translateY(10px); }
      .timeline .date.expand .circle {
        background-color: #f9a746;
        width: 15px;
        height: 15px; }
      .timeline .date.expand .time {
        font-size: 1.25rem; }
    .timeline .date .circle {
      background-color: #59d8e6;
      width: 8px;
      height: 8px;
      margin: auto;
      border: 2px solid white;
      border-radius: 50px; }
    .timeline .date .time {
      color: white;
      font-size: .8rem;
      margin-top: .85rem; }
  .timeline .line {
    position: absolute;
    z-index: -1;
    background-color: white;
    opacity: .7;
    width: 100%;
    height: 1px;
    margin: auto;
    margin-top: -2.3rem;
    transform: scaleX(0);
    transform-origin: left;
    animation: trimPath 1s ease-in-out 1.5s normal running 1 forwards; }

.quote {
  width: 100%;
  color: white;
  font-family: "Times",serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 31vh;
  animation: appearTimeline 1s ease-in-out 0s normal running 1 forwards, fadeOut 1s ease-in-out 4.7s normal running 1 forwards; }
  .quote p {
    margin: 0;
    padding-bottom: .5rem; }
    .quote p:nth-child(2) {
      opacity: .6;
      font-size: 1.2rem;
      font-style: italic; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes trimPath {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@keyframes appearTimeline {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes appearDate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.dilemma-panel {
  position: absolute;
  z-index: 2;
  height: 100%;
  text-align: center;
  animation: fadeIn 1s ease-in-out 0s normal running 1 forwards; }
  .dilemma-panel h1 {
    text-transform: uppercase;
    font-family: "Abrade",sans-serif;
    font-weight: 400; }
  .dilemma-panel h2 {
    font-family: "Abrade",sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.3; }
  .dilemma-panel .left-choice {
    float: left;
    background-color: black;
    opacity: .5;
    width: 50%;
    height: 100%;
    display: inline-block;
    color: white;
    transition: background-color .1s ease-in-out, opacity .1s ease-in-out;
    cursor: pointer; }
    .dilemma-panel .left-choice:hover {
      background-color: rgba(92, 131, 47, 0.6);
      opacity: 1; }
      .dilemma-panel .left-choice:hover .text {
        transform: translateZ(0) translateY(25vw); }
      .dilemma-panel .left-choice:hover .signature {
        margin-top: -15rem;
        animation: fadeIn .3s ease-in-out .3s normal running 1 forwards; }
        .dilemma-panel .left-choice:hover .signature .cursor {
          background-color: #f77a52; }
          .dilemma-panel .left-choice:hover .signature .cursor:hover {
            background-color: #ee6b37; }
  .dilemma-panel .right-choice {
    background-color: black;
    opacity: .5;
    width: 50%;
    height: 100%;
    display: inline-block;
    color: white;
    transition: background-color .1s ease-in-out, opacity .1s ease-in-out;
    cursor: pointer; }
    .dilemma-panel .right-choice:hover {
      background-color: rgba(25, 52, 65, 0.7);
      opacity: 1; }
      .dilemma-panel .right-choice:hover .text {
        transform: translateZ(0) translateY(15vw); }
      .dilemma-panel .right-choice:hover .signature {
        animation: fadeIn .3s ease-in-out .3s normal running 1 forwards; }
  .dilemma-panel .text {
    display: block;
    padding: 0rem 4rem;
    transform: translateZ(0) translateY(20vw);
    transition: all .5s ease-in-out; }

.signature {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  opacity: 0;
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 3rem; }
  .signature .arrow {
    position: absolute;
    width: 5px;
    top: -10px;
    left: 5vw;
    animation: translateArrow 1s ease-in-out 0s alternate running infinite forwards; }
    .signature .arrow img {
      width: 100%; }
    .signature .arrow:nth-child(2) {
      left: 13vw;
      animation: translateArrow 1s ease-in-out .1s alternate running infinite forwards; }
    .signature .arrow:nth-child(3) {
      top: 23px;
      left: 9vw;
      animation: translateArrow 1s ease-in-out .2s alternate running infinite forwards; }
  .signature .cursor {
    position: absolute;
    z-index: 2;
    background-color: #f77a52;
    width: 30px;
    height: 30px;
    left: 0;
    transform: rotate(45deg);
    transition: boxShadow .2s,background-color .2s; }
    .signature .cursor:hover {
      background-color: #ee6b37;
      box-shadow: 1px 1px 6px -2px black; }
  .signature .line {
    position: absolute;
    background-color: white;
    min-width: 19.699999999999999vw;
    height: 2px;
    top: .9rem; }
  .signature .validation {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    background-color: #232323;
    width: 36px;
    height: 36px;
    top: -6px;
    right: 0;
    border: 3px solid white;
    transform: rotate(45deg); }

@keyframes translateArrow {
  0% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0px); } }
footer {
  z-index: 99;
  position: absolute;
  background-color: #252525;
  width: 100%;
  overflow: hidden;
  font-size: .8rem;
  bottom: 0;
  padding: .5rem 0rem;
  box-shadow: 1px 1px 10px -1px black; }
  footer a {
    opacity: .5;
    color: white;
    font-family: "Abrade",sans-serif;
    font-weight: 300;
    font-size: .7rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: all .2s; }
    footer a:hover {
      background-color: white;
      opacity: .7;
      color: #282c34;
      font-family: "Abrade",sans-serif;
      font-weight: 300; }
      footer a:hover svg {
        fill: #181818; }
    footer a:active {
      background-color: transparent;
      opacity: .7;
      color: #282c34;
      font-family: "Abrade",sans-serif;
      font-weight: 300; }

.line-separator {
  background-color: white;
  opacity: .5;
  width: 1px;
  height: 15px;
  display: inline-block;
  transform: translateY(4px); }

.left-section {
  float: left;
  margin-left: 1rem;
  cursor: pointer; }

.right-section {
  float: right;
  text-align: right;
  padding-right: 1rem;
  cursor: pointer; }
  .right-section a {
    padding: 1rem 1rem; }
  .right-section svg {
    width: 10px;
    margin-right: 15px;
    fill: white; }

.story {
  background-color: #181818;
  overflow: hidden;
  cursor: default;
  background-color: black; }
  .story p {
    color: white; }

.story {
  animation: fadeIn 1s ease-in-out 0s normal running 1 forwards; }

footer {
  animation: fadeIn 0s ease-in-out 0s normal running 1 forwards; }

.button-pass {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background-color: #f4f4f4;
  padding: .5rem 2rem;
  border-radius: 3px;
  right: 1.5rem;
  top: 2rem;
  font-size: .8rem;
  color: #181818;
  box-shadow: 0px 1px 4px -1px black;
  opacity: 0;
  animation: translateButton 1s ease-in-out 1s normal running 1 forwards; }
  .button-pass:hover {
    background-color: #4a90e2;
    color: #f4f4f4; }
  .button-pass:active {
    background-color: #f4f4f4;
    color: #4a90e2; }

.image-placeholder {
  position: absolute;
  background-image: url("../images/images-story/pacemaker.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100%;
  overflow: hidden; }
  .image-placeholder img {
    width: 100%; }
  .image-placeholder.image-story-1 {
    background-image: url("../images/images-story/pacemaker.png"); }
  .image-placeholder.image-story-2 {
    background-image: url("../images/images-story/pacemaker_accept.png"); }

.hover-informations {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0; }

.title-wrapper {
  z-index: 2;
  position: absolute;
  width: 20rem;
  top: 2.5rem;
  left: 2.5rem; }
  .title-wrapper p {
    font-family: "Abrade",sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: .3rem;
    font-size: .9rem; }
  .title-wrapper .line {
    width: 100%;
    height: 1px;
    background-color: white; }
  .title-wrapper h1 {
    font-family: "Abrade",sans-serif;
    font-weight: 300;
    margin: 0;
    margin-top: .5rem;
    padding: 0;
    color: white;
    font-size: 2.2rem; }

.information-element {
  position: absolute;
  width: 30rem; }
  .information-element.story-1 {
    top: 23vw !important;
    left: 62vw !important; }
  .information-element:nth-child(1) {
    top: 6vw;
    left: 65vw; }
  .information-element:nth-child(2) {
    top: 12vw;
    left: 60vw; }
  .information-element:nth-child(3) {
    top: 16vw;
    left: 55vw; }
  .information-element.left .information-panel {
    left: -35vw; }

.subtitles {
  position: absolute;
  z-index: 1;
  top: 20vw;
  width: 100%;
  text-align: center; }
  .subtitles p {
    width: 50%;
    margin: auto;
    font-weight: 100;
    line-height: 1.5; }

.circle-pointer {
  position: relative;
  background-color: #4a90e2;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1px 2px 5px -1px black; }
  .circle-pointer .circle-hover {
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50px;
    transform: translateY(-1px) translateX(-1px) scale(0);
    transform-origin: center;
    transition: all .3s; }
    .circle-pointer .circle-hover .line {
      background-color: white;
      opacity: 0;
      width: 200px;
      height: 2px;
      margin-top: .5rem;
      margin-left: 1.25rem;
      transform: rotate(11deg);
      transform-origin: left;
      transition: all .3s ease-in-out .2s; }
      .circle-pointer .circle-hover .line.left {
        transform: rotate(-190deg);
        margin-top: 0.5rem;
        margin-left: 0rem; }
  .circle-pointer:hover {
    background-color: #6db0ff; }
    .circle-pointer:hover .circle-hover {
      opacity: 1;
      transform: translateY(-1px) translateX(-1px) scale(1.5); }
      .circle-pointer:hover .circle-hover .line {
        opacity: 1; }

.circle-pointer:hover + .information-panel {
  opacity: 1;
  transform: translateX(-15px) translateY(0) translateZ(0); }
  .circle-pointer:hover + .information-panel .title {
    opacity: 1;
    transform: translateX(-15px) translateY(0) translateZ(0); }
  .circle-pointer:hover + .information-panel .aside-picture {
    transform: translateX(5px) translateY(5px) translateZ(0); }

.circle-pointer:hover + .information-panel.left {
  opacity: 1; }
  .circle-pointer:hover + .information-panel.left .title {
    opacity: 1;
    transform: translateX(15px) translateY(0) translateZ(0); }
  .circle-pointer:hover + .information-panel.left .aside-picture {
    transform: translateX(15px) translateY(5px) translateZ(0); }

.information-panel {
  position: absolute;
  background-color: #4a90e2;
  opacity: 0;
  width: 18vw;
  display: inline-block;
  left: 5vw;
  margin-left: 1rem;
  padding: 3rem 1.5rem 2rem 1.5rem;
  transform: translateX(0) translateY(0) translateZ(0);
  transition: all .3s;
  box-shadow: 0px 2px 9px -2px black; }
  .information-panel .title {
    font-family: "Abrade",sans-serif;
    position: absolute;
    background-color: white;
    opacity: 0;
    width: 17vw;
    color: #4a90e2;
    font-size: 1.35rem;
    top: 0;
    margin-top: -1rem;
    margin-left: 1rem;
    padding: .5rem 1rem;
    transform: translateX(0) translateY(0) translateZ(0);
    transition: all .3s ease-in-out;
    box-shadow: 0px 2px 9px -3px black; }
  .information-panel .description {
    color: #fefefe;
    font-family: "Abrade",sans-serif;
    font-weight: 300;
    line-height: 1.4;
    font-size: .8rem; }
  .information-panel .source {
    font-family: "Abrade",sans-serif;
    font-size: .8rem;
    margin-top: .5rem; }
  .information-panel .aside-picture {
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: 1vw;
    right: -4vw;
    transform: translateX(0) translateY(0) translateZ(0);
    transition: all .3s;
    box-shadow: -1px 1px 4px -1px black; }
    .information-panel .aside-picture img {
      width: 100%; }
  .information-panel.left {
    left: -35vw; }

.body-situation-init {
  position: absolute;
  z-index: 1;
  bottom: 4rem;
  left: 3rem; }
  .body-situation-init img {
    width: 7vw; }

.panel-controller {
  box-shadow: 1px -1px 8px -1px black;
  position: absolute;
  z-index: 99;
  background-color: #252525;
  width: 100%;
  bottom: 0;
  padding: 2rem 3rem 4rem 3rem;
  transition: all ease-in-out .3s;
  transform: translateX(0) translateY(18.25rem) translateZ(0); }
  .panel-controller .body-situation {
    display: inline-block; }
  .panel-controller .identity {
    display: inline-block;
    color: white;
    vertical-align: top; }
    .panel-controller .identity .row {
      margin: 0rem 0rem 1rem 0rem; }
      .panel-controller .identity .row .data-item {
        display: inline-block;
        margin: 0rem 1.5rem 0rem 3.5rem; }
        .panel-controller .identity .row .data-item h2 {
          color: white;
          font-family: "Abrade",sans-serif;
          font-weight: 400;
          font-size: .8rem;
          margin: 0; }
        .panel-controller .identity .row .data-item h3 {
          color: #59d8e6;
          font-family: "Abrade",sans-serif;
          font-weight: 300;
          font-size: 1.5rem;
          margin: 0;
          margin-top: .3rem; }
        .panel-controller .identity .row .data-item.left {
          margin-left: 6rem; }
        .panel-controller .identity .row .data-item img {
          margin-top: 1rem; }
  .panel-controller.active {
    transform: translateX(0) translateY(0) translateZ(0); }
    .panel-controller.active .switcher > img {
      transform: rotate(90deg); }

.separator {
  background-color: white;
  width: 1px;
  height: 10vw;
  display: inline-block;
  transform: translateY(-3rem) translateX(3rem); }

.upgrades-status {
  display: inline-block;
  color: white;
  vertical-align: top;
  margin-left: 6.5rem; }
  .upgrades-status .row {
    margin: 0rem 0rem 1rem 0rem; }
    .upgrades-status .row .data-item {
      display: inline-block;
      margin: 0rem 1.5rem 0rem 3.5rem; }
      .upgrades-status .row .data-item h2 {
        color: white;
        font-family: "Abrade",sans-serif;
        font-weight: 400;
        font-size: .8rem;
        margin: 0; }
      .upgrades-status .row .data-item h3 {
        color: #59d8e6;
        font-family: "Abrade",sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        margin: 0;
        margin-top: .3rem; }
      .upgrades-status .row .data-item.locked {
        opacity: .5; }
        .upgrades-status .row .data-item.locked h3 {
          color: grey; }
      .upgrades-status .row .data-item.success h3 {
        color: #85db18; }
      .upgrades-status .row .data-item.failed h3 {
        color: #dc3522; }
      .upgrades-status .row .data-item.left {
        margin-left: 2.72rem; }
      .upgrades-status .row .data-item.left-2 {
        margin-left: 2rem; }

.switcher {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  background-color: #252525;
  width: 23px;
  height: 20px;
  top: -30px;
  left: 50vw;
  padding: .3rem;
  transition: all .3s; }
  .switcher img {
    width: 100%;
    height: 100%;
    transition: all .3s;
    transform: rotate(-90deg);
    transform-origin: center; }
  .switcher:hover {
    background-color: #3c3c3c; }
  .switcher:active {
    background-color: #252525; }

.overlay {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0;
  transition: all .2s; }
  .overlay.active {
    z-index: 1;
    opacity: 0.5; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInBody {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes translateButton {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }
@media only screen and (max-width: 1280px) {
  .panel-controller {
    transform: translateX(0) translateY(67vh) translateZ(0); }

  .hover-informations {
    top: 2.5rem;
    left: 0rem; }

  .information-panel {
    left: 2.5rem; } }
.next-button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  color: black;
  background-color: white;
  width: 11rem;
  padding: .75rem 2rem;
  margin: auto;
  font-weight: 500;
  margin-top: 2rem;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 3px; }
  .next-button:hover {
    color: #4a90e2;
    background-color: #F6F6F6; }
  .next-button:active {
    background-color: white; }

/**
*** PLAYER
*/
.player {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden; }
  .player video {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden; }
    .player video::-webkit-media-controls {
      display: none !important; }
    .player video::-moz-media-controls {
      display: none !important; }
    .player video::-o-media-controls {
      display: none !important; }
    .player video::-ms-media-controls {
      display: none !important; }
  .player .controls {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 36px; }
    .player .controls .seek-bar {
      width: 100vw;
      height: 8px;
      background: #8d8d8d;
      position: absolute;
      bottom: 0px;
      transition: all .2s; }
      .player .controls .seek-bar:hover {
        cursor: pointer;
        background-color: #9b9b9b; }
    .player .controls .progress-bar {
      cursor: pointer;
      width: 100%;
      background: #e3c18a;
      -webkit-transition: transfrom 100ms;
      -moz-transition: transfrom 100ms;
      -ms-transition: transfrom 100ms;
      -o-transition: transfrom 100ms;
      transition: transfrom 100ms;
      -webkit-transform-origin: 0;
      -moz-transform-origin: 0;
      -ms-transform-origin: 0;
      -o-transform-origin: 0;
      transform-origin: 0;
      height: 8px; }
      .player .controls .progress-bar:hover {
        background: #d2c18a; }

/*
*** GENERAL
*/
body {
  margin: 0;
  font-family: "Muli";
  color: #353535;
  background-color: #353535; }

.clear {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik"; }

.container-btn-next {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 50px; }
  .container-btn-next .btn-next {
    background: #fefefe;
    color: #353535;
    padding: 10px 30px;
    border-radius: 10px; }

/*
*** MEDIAS QUERIES
*/
/*
*** SIZE 992
*/
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 48% !important;
    transform: translateX(-48%) !important; } }
@media only screen and (max-width: 1280px) {
  .information-panel {
    top: 2.5rem;
    padding: 3rem 3.5rem 2rem 1.5rem; }
    .information-panel .title {
      font-size: 1.2rem; }
    .information-panel .description {
      line-height: 1.6; }

  .hover-informations {
    position: absolute;
    top: 2.5rem; }

  .panel-controller {
    transform: translateX(0) translateY(67vh) translateZ(0); }

  .core-controller {
    margin-left: 25vw; }

  .separator {
    display: none; }

  .data-item {
    margin: 0; }

  .identity {
    margin-left: 9vw; }

  .upgrades-status {
    margin-left: 9vw; }

  .body-situation {
    position: absolute;
    left: 17vw;
    width: 10rem; }
    .body-situation img {
      top: 10rem;
      width: 100%; } }
.information-panel {
  background-color: #4a90e2;
  padding: 3rem 2.5rem 2rem 1.5rem; }

.main-core p {
  font-family: "Abrade", sans-serif; }

@media only screen and (height: 900px) {
  .hover-informations {
    position: absolute;
    top: 5.45rem;
    left: 0rem; } }

/*# sourceMappingURL=style.css.map */
